<!DOCTYPE html>
<html lang-"eng">
    <head>
        <meta charset="utf-8" name="viewport" content="width-device-width, initial-scale-1" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="icon-bar">
                        <a href="http://0.0.0.0:5000">
                            <img src="/static/img/demo-logo1_850x467.png"
                                 width="85" height="47" title="FAB Demo">
                        </a>
                    </span>
                </div>
            </div>
        </nav>

        <main class="container">
            <div class="md-margin-top">
                <h2>F.A.B Demo</h2>
                <div class="container sm-margin-top">
                    <div class="row text-center lg-margin-bottom">
                        <h1>Stunning Cosmos</h1>
                        <h3 class="text-muted">
                            A simple web page showing beautiful pictures
                        </h3>
                        <b>Demo Message: </b>: {{ message }}
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-6">
                            <h2>Picture 1</h2>
                            <img src="/static/img/cosmos01.jpeg"
                                 width="550" height="350" title="Picture 1">
                        </div>
                        <div class="col-lg-6">
                            <h2>Picture 2</h2>
                            <img src="/static/img/cosmos02.jpeg"
                                 width="550" height="350" title="Picture 2">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-6">
                            <h2>Picture 3</h2>
                            <img src="/static/img/cosmos03.jpeg"
                                 width="550" height="350" title="Picture 3">
                        </div>
                        <div class="col-lg-6">
                            <h2>Picture 4</h2>
                            <img src="/static/img/cosmos04.jpeg"
                                 width="550" height="350" title="Picture 4">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
